---
import Layout from "@components/Layout.astro";
import Nav from "@components/Nav.astro";
import Greeting from "@components/Greeting.astro";
import TodoReact from "@components/Todo.tsx";
---

<Layout>
  <Nav />
  <Greeting server:defer>
    <article slot="fallback">
      <h1>Greeting</h1>
      <p><span aria-busy="true"></span></p>
    </article>
  </Greeting>
  <TodoReact client:load />
</Layout>
